In [1]:
pickleFile = '/Users/jillnaiman/Dropbox/wwt_image_extraction/ClassifyingImages/pickleFiles/ids_locations_workflow1_links.pickle'

In [15]:
import pickle
import numpy as np
import json
import pandas as pd

In [3]:
with open(pickleFile, 'rb') as f:
    myClass, uniqIDs, locations, conf, myClassMulti, \
      myClassIDs, locationsM, links, linksM = pickle.load(f)

In [4]:
# combine:
linksFull = links.copy()
linksFull.extend(linksM)

In [5]:
# get unique articles
arts = []
for l in linksFull:
    arts.append(l.split('/')[-2])

In [8]:
uarts = np.unique(arts)

In [9]:
len(uarts)

10179

In [57]:
len(np.unique(linksFull))

28349

In [14]:
# also, what about from the original workflow 1?
wf1file = '/Users/jillnaiman/Dropbox/Consulting_WWT_Fall2018/zooniverseData/workflow-1-identifying-figure-types-classifications.csv'
#arsidfile = '/Users/jillnaiman/Downloads/astronomy-rewind-classifications.csv'

In [16]:
df = pd.read_csv(wf1file)

In [18]:
df.head()

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,10764799,abans,829803.0,c8c3a7221b7c97b08c5e,1701,Workflow 1: Identifying figure types,9.24,2016-03-23 15:53:30 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""What types of fi...","{""1523125"":{""retired"":null,""Date"":""1/4/15"",""Jo...",1523125
1,10764809,abans,829803.0,c8c3a7221b7c97b08c5e,1701,Workflow 1: Identifying figure types,9.24,2016-03-23 15:53:47 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""What types of fi...","{""1523122"":{""retired"":null,""Date"":""1/1/15"",""Jo...",1523122
2,10764817,abans,829803.0,c8c3a7221b7c97b08c5e,1701,Workflow 1: Identifying figure types,9.24,2016-03-23 15:54:03 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""What types of fi...","{""1523127"":{""retired"":null,""Date"":""1/6/15"",""Jo...",1523127
3,10764837,abans,829803.0,c8c3a7221b7c97b08c5e,1701,Workflow 1: Identifying figure types,9.24,2016-03-23 15:54:55 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""What types of fi...","{""1523126"":{""retired"":null,""Date"":""1/5/15"",""Jo...",1523126
4,10764845,abans,829803.0,c8c3a7221b7c97b08c5e,1701,Workflow 1: Identifying figure types,9.24,2016-03-23 15:55:12 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""What types of fi...","{""1523129"":{""retired"":null,""Date"":""1/8/15"",""Jo...",1523129

In [53]:
# get articles
wf1arts = []
for d in df['subject_data']:
    dj = json.loads(d)
    for k in dj.keys():
        # inconsistent storage of names
        if 'filename' in dj[k]:
            fn = dj[k]['filename']
            wf1arts.append(fn.split('-')[0])
        elif 'bibcode' in dj[k]:
            wf1arts.append(dj[k]['bibcode'])
        elif 'Bibcode' in dj[k]:
            wf1arts.append(dj[k]['Bibcode'])
        else:
            print('nope')
            import sys; sys.exit()

In [56]:
wf1artsu = np.unique(wf1arts)
len(wf1artsu)

10212

In [60]:
# more info about workflow 2 as well
wf2file = '/Users/jillnaiman/Dropbox/Consulting_WWT_Fall2018/zooniverseData/workflow-2a-single-sky-images-with-axes-labeled-classifications_20190909.csv'

In [61]:
df2 = pd.read_csv(wf2file)

In [63]:
df2.head()

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,10764765,abans,829803.0,44c89f0ef3cdede16cc0,1700,Workflow 2a: Single sky images with axes labeled,95.119,2016-03-23 15:52:33 UTC,NaN,NaN,"{""session"":""eac11479b0423d7cd5a2e70e78baba45e0...","[{""task"":""init"",""task_label"":""How many of the ...","{""1523127"":{""retired"":null,""Date"":""1/6/15"",""Jo...",1523127
1,10769518,wgranger,1452299.0,450c10db197488e60f31,1700,Workflow 2a: Single sky images with axes labeled,95.119,2016-03-23 18:51:44 UTC,NaN,NaN,"{""session"":""9a611c7b4d59c90cc64a03e8a7b2030ef0...","[{""task"":""init"",""task_label"":""How many of the ...","{""1523125"":{""retired"":null,""Date"":""1/4/15"",""Jo...",1523125
2,10769523,wgranger,1452299.0,450c10db197488e60f31,1700,Workflow 2a: Single sky images with axes labeled,95.119,2016-03-23 18:51:56 UTC,NaN,NaN,"{""session"":""9a611c7b4d59c90cc64a03e8a7b2030ef0...","[{""task"":""init"",""task_label"":""How many of the ...","{""1523126"":{""retired"":null,""Date"":""1/5/15"",""Jo...",1523126
3,10769525,wgranger,1452299.0,450c10db197488e60f31,1700,Workflow 2a: Single sky images with axes labeled,95.119,2016-03-23 18:52:05 UTC,NaN,NaN,"{""session"":""9a611c7b4d59c90cc64a03e8a7b2030ef0...","[{""task"":""init"",""task_label"":""How many of the ...","{""1523127"":{""retired"":null,""Date"":""1/6/15"",""Jo...",1523127
4,10811568,wgranger,1452299.0,44c89f0ef3cdede16cc0,1700,Workflow 2a: Single sky images with axes labeled,95.119,2016-03-25 15:54:48 UTC,NaN,NaN,"{""session"":""6c658da2b38f392f63ba71c309c80ee6f0...","[{""task"":""init"",""task_label"":""How many of the ...","{""1523123"":{""retired"":null,""Date"":""1/2/15"",""Jo...",1523123

In [64]:
df2.iloc[-2]

classification_id                                            156796773
user_name                                                      Quarkgc
user_id                                                    1.44088e+06
user_ip                                           e2650f3d67a41b4956e0
workflow_id                                                       1700
workflow_name         Workflow 2a: Single sky images with axes labeled
workflow_version                                               156.269
created_at                                     2019-03-31 17:10:29 UTC
gold_standard                                                      NaN
expert                                                             NaN
metadata             {"source":"api","session":"bd2816f77836ee2831b...
annotations          [{"task":"T7","task_label":"![skyfigureMarked-...
subject_data         {"7821504":{"retired":null,"id":"851","Title":...
subject_ids                                                    7821504
Name: 12973, dtype: object

In [65]:
df2.iloc[-2]['metadata']

'{"source":"api","session":"bd2816f77836ee2831bdb3a6cff415a56473501a0be4d9f5e936934d60545ff2","viewport":{"width":1472,"height":702},"started_at":"2019-03-31T17:07:26.640Z","user_agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0","utc_offset":"-7200","finished_at":"2019-03-31T17:10:28.529Z","live_project":true,"interventions":{"opt_in":true,"message":false},"user_language":"en","user_group_ids":[],"subject_dimensions":[{"clientWidth":435,"clientHeight":632,"naturalWidth":2272,"naturalHeight":3300}],"subject_selection_state":{"retired":false,"already_seen":false,"selection_state":"normal","finished_workflow":false,"user_has_finished_workflow":false},"workflow_translation_id":null}'

In [66]:
df2.iloc[-2]['annotations']

'[{"task":"T7","task_label":"![skyfigureMarked-v2.jpeg](https://panoptes-uploads.zooniverse.org/production/project_attached_image/896a543d-0dd9-4795-a294-be53288026df.jpeg =200x)\\nDraw a rectangle around a single sky figure **with axes labeled**. \\nDraw a separate rectangle around the relevant caption, if present. ","value":[{"x":278.017333984375,"y":142.286376953125,"tool":0,"frame":0,"width":804.114013671875,"height":960.759521484375,"details":[],"tool_label":"Rectangle tool"},{"x":63.93505859375,"y":1280.57763671875,"tool":0,"frame":0,"width":1054.746826171875,"height":130.537841796875,"details":[],"tool_label":"Rectangle tool"}]},{"task":"T5","task_label":"![radeclabels.jpg](https://panoptes-uploads.zooniverse.org/production/project_attached_image/bce3079b-4748-422b-9698-e7018fe1da61.jpeg =350x)\\n\\nUse the tool to mark and transcribe the first and last number labeled on the x and y-axis, outside the rectangle, as shown above. \\n\\nNote: In the example above, the left-hand value on the x-axis is transcribed as 23 25 40 and the right-hand value on the x-axis is transcribed as 23 25 0. **Do** include the inferred initial values (in this case: 23 25), even if they\'re not labeled on the figure.  \\n\\nUse the Zoom as needed.","value":[{"x":264.267333984375,"y":1139.596435546875,"tool":0,"frame":0,"details":[{"value":"3h19\'20\'\'"}],"tool_label":"Marking+transcription tool"},{"x":969.17236328125,"y":1144.818115234375,"tool":0,"frame":0,"details":[{"value":"3h17\'20\'\'"}],"tool_label":"Marking+transcription tool"},{"x":196.3875732421875,"y":1009.05859375,"tool":0,"frame":0,"details":[{"value":"-68°36\'"}],"tool_label":"Marking+transcription tool"},{"x":227.7166748046875,"y":157.950927734375,"tool":0,"frame":0,"details":[{"value":"-66°21\'"}],"tool_label":"Marking+transcription tool"}]},{"task":"T6","task_label":"![labelingUnits.jpg](https://panoptes-uploads.zooniverse.org/production/project_attached_image/92e17f27-2b61-41ad-8337-6573f3901ca1.jpeg =300x)\\n\\nUse the tool to mark the location of any units labeled (as shown above). Do this for both axes, if present.\\n\\nUse the Zoom as needed.\\n\\nIf the sky figure you\'ve marked does not have labeled units, click \'Done\'.","value":[{"x":690.517333984375,"y":1164.6597900390625,"tool":0,"frame":0,"details":[{"value":0}],"tool_label":"Marking tool"},{"x":95.26416015625,"y":637.286376953125,"tool":0,"frame":0,"details":[{"value":2}],"tool_label":"Marking tool"}]}]'

In [67]:
df2.iloc[-3]

classification_id                                            156795844
user_name                                                      Quarkgc
user_id                                                    1.44088e+06
user_ip                                           e2650f3d67a41b4956e0
workflow_id                                                       1700
workflow_name         Workflow 2a: Single sky images with axes labeled
workflow_version                                               156.269
created_at                                     2019-03-31 17:06:07 UTC
gold_standard                                                      NaN
expert                                                             NaN
metadata             {"source":"api","session":"bd2816f77836ee2831b...
annotations          [{"task":"T7","task_label":"![skyfigureMarked-...
subject_data         {"7841512":{"retired":null,"id":"468","Title":...
subject_ids                                                    7841512
Name: 12972, dtype: object